# ì›”ê°„ ë°ì´í„° ì—°ê°„ë°ì´í„°ë¡œ í†µí•©
- ë² ìŠ¤íŠ¸ì…€ëŸ¬ ì›”ë³„ 200ê°œì”©

In [ ]:
import pandas as pd
import os

# âœ… ì •í™•í•œ í´ë” ê²½ë¡œ
folder_path = r"C:\Users\user\Desktop\ì—°ê°„ ë„ì„œ ë°ì´í„°\yes24"

# âœ… .xlsx í™•ì¥ì íŒŒì¼ë§Œ ì¶”ì¶œ (ëŒ€ì†Œë¬¸ì êµ¬ë¶„ ì—†ìŒ)
excel_files = [f for f in os.listdir(folder_path) if f.lower().endswith('.xlsx')]
print("ğŸ“‚ ì°¾ì€ íŒŒì¼:", excel_files)

df_list = []

for file in excel_files:
    file_path = os.path.join(folder_path, file)
    print(f"ğŸ“„ ì½ëŠ” ì¤‘: {file_path}")
    
    try:
        df = pd.read_excel(file_path)
        df['ì¶œì²˜íŒŒì¼ëª…'] = file  # ì–´ë””ì„œ ì™”ëŠ”ì§€ ì¶”ì  ê°€ëŠ¥í•˜ê²Œ ì¶”ê°€
        df_list.append(df)
    except Exception as e:
        print(f"âŒ {file} ì½ê¸° ì‹¤íŒ¨: {e}")

if df_list:
    combined_df = pd.concat(df_list, ignore_index=True)
    output_path = os.path.join(folder_path, 'yes24_í†µí•©_ê²°ê³¼.xlsx')
    combined_df.to_excel(output_path, index=False)
    print(f"âœ… í†µí•© ì™„ë£Œ! ì €ì¥ ìœ„ì¹˜: {output_path}")
else:
    print("âš ï¸ í•©ì¹  ìˆ˜ ìˆëŠ” íŒŒì¼ì´ ì—†ìŠµë‹ˆë‹¤.")

In [ ]:
import pandas as pd
import os

folder_path = r"C:\Users\user\Desktop\ì—°ê°„ ë„ì„œ ë°ì´í„°\ì•Œë¼ë”˜\ì›”ê°„ ë°ì´í„°"
file_list = [f for f in os.listdir(folder_path) if f.lower().endswith(('.xls', '.xlsx'))]

df_list = []

for file in file_list:
    file_path = os.path.join(folder_path, file)
    print(f"ğŸ“„ ì²˜ë¦¬ ì¤‘: {file_path}")

    try:
        if file.lower().endswith('.xls'):
            try:
                # 1ì°¨ ì‹œë„: ì§„ì§œ xls í˜•ì‹ì´ë©´
                df = pd.read_excel(file_path, engine="xlrd")
            except Exception:
                # 2ì°¨ ì‹œë„: ì‚¬ì‹¤ìƒ CSV íŒŒì¼ì¼ ê²½ìš°
                df = pd.read_csv(file_path, encoding='utf-8', on_bad_lines='skip')
        else:
            df = pd.read_excel(file_path)

        df['ì¶œì²˜íŒŒì¼ëª…'] = file
        df_list.append(df)
    except Exception as e:
        print(f"âŒ {file} ì½ê¸° ì‹¤íŒ¨: {e}")

if df_list:
    combined_df = pd.concat(df_list, ignore_index=True)
    output_path = os.path.join(folder_path, 'aladin_í†µí•©_ê²°ê³¼.xlsx')
    combined_df.to_excel(output_path, index=False)
    print(f"âœ… ì €ì¥ ì™„ë£Œ: {output_path}")
else:
    print("âš ï¸ í•©ì¹  ìˆ˜ ìˆëŠ” íŒŒì¼ì´ ì—†ìŠµë‹ˆë‹¤.")

In [ ]:
import pandas as pd
import os

# âœ… íŒŒì¼ë“¤ì´ ì €ì¥ëœ í´ë” ê²½ë¡œ (ì—¬ê¸°ì— CSVë“¤ì´ ë“¤ì–´ ìˆìŒ)
folder_path = r"C:\Users\user\Desktop\ì—°ê°„ ë„ì„œ ë°ì´í„°\ì˜í’"

# âœ… .csv í™•ì¥ìë§Œ í•„í„°ë§
csv_files = [f for f in os.listdir(folder_path) if f.lower().endswith('.csv')]
print("ğŸ“‚ ì°¾ì€ CSV íŒŒì¼:", csv_files)

df_list = []

for file in csv_files:
    file_path = os.path.join(folder_path, file)
    print(f"ğŸ“„ ì²˜ë¦¬ ì¤‘: {file_path}")
    
    try:
        # ì¸ì½”ë”©ì´ utf-8ì´ ì•„ë‹ˆë©´ cp949(í•œê¸€)ë¡œë„ ì‹œë„í•  ìˆ˜ ìˆìŒ
        try:
            df = pd.read_csv(file_path, encoding='utf-8', on_bad_lines='skip')
        except UnicodeDecodeError:
            df = pd.read_csv(file_path, encoding='cp949', on_bad_lines='skip')

        df['ì¶œì²˜íŒŒì¼ëª…'] = file  # ì–´ë–¤ íŒŒì¼ì—ì„œ ì™”ëŠ”ì§€ ê¸°ë¡
        df_list.append(df)
    except Exception as e:
        print(f"âŒ {file} ì½ê¸° ì‹¤íŒ¨: {e}")

# âœ… ë³‘í•© & ì €ì¥
if df_list:
    combined_df = pd.concat(df_list, ignore_index=True)
    output_path = os.path.join(folder_path, 'ypbooks_í†µí•©_ê²°ê³¼.xlsx')
    combined_df.to_excel(output_path, index=False)
    print(f"âœ… ì €ì¥ ì™„ë£Œ: {output_path}")
else:
    print("âš ï¸ í•©ì¹  ìˆ˜ ìˆëŠ” íŒŒì¼ì´ ì—†ìŠµë‹ˆë‹¤.")

# ì •ì œ

In [2]:
import pandas as pd

df = pd.read_excel('2020~2024_ì›”ê°„_í†µí•©_ì •ì œ.xlsx')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12165 entries, 0 to 12164
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ìˆœìœ„           12055 non-null  object
 1   ISBN         12055 non-null  object
 2   ë„ì„œëª…          12055 non-null  object
 3   ì €ì           12053 non-null  object
 4   ì¶œíŒì‚¬          12055 non-null  object
 5   ì¡°            7233 non-null   object
 6   Unnamed: 6   1015 non-null   object
 7   Unnamed: 7   1015 non-null   object
 8   Unnamed: 8   1015 non-null   object
 9   Unnamed: 9   1015 non-null   object
 10  Unnamed: 10  1015 non-null   object
 11  Unnamed: 11  1015 non-null   object
 12  Unnamed: 12  1015 non-null   object
 13  Unnamed: 13  1015 non-null   object
 14  Unnamed: 14  1015 non-null   object
 15  Unnamed: 15  1015 non-null   object
 16  Unnamed: 16  1015 non-null   object
 17  ë¶„ì•¼           4822 non-null   object
dtypes: object(18)
memory usage: 1.7+ MB

In [4]:
df.columns

Index(['ìˆœìœ„', 'ISBN', 'ë„ì„œëª…', 'ì €ì', 'ì¶œíŒì‚¬', 'ì¡°', 'Unnamed: 6', 'Unnamed: 7',
       'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'ë¶„ì•¼'],
      dtype='object')

In [5]:
df.drop(['Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16'], axis=1, inplace=True)

In [6]:
df.drop(['ë„ì„œëª…', 'ì €ì', 'ì¶œíŒì‚¬', 'ì¡°','ë¶„ì•¼'], axis=1, inplace=True)

In [7]:
df['ISBN'].dropna(inplace=True)

In [8]:
df[df['ISBN'] == 'ISBN']

       ìˆœìœ„  ISBN
202    ìˆœìœ„  ISBN
405    ìˆœìœ„  ISBN
608    ìˆœìœ„  ISBN
811    ìˆœìœ„  ISBN
1014   ìˆœìœ„  ISBN
1217   ìˆœìœ„  ISBN
1420   ìˆœìœ„  ISBN
1623   ìˆœìœ„  ISBN
1826   ìˆœìœ„  ISBN
2029   ìˆœìœ„  ISBN
2232   ìˆœìœ„  ISBN
2635   ìˆœìœ„  ISBN
2838   ìˆœìœ„  ISBN
3041   ìˆœìœ„  ISBN
3244   ìˆœìœ„  ISBN
3447   ìˆœìœ„  ISBN
3650   ìˆœìœ„  ISBN
3853   ìˆœìœ„  ISBN
4056   ìˆœìœ„  ISBN
4259   ìˆœìœ„  ISBN
4462   ìˆœìœ„  ISBN
4665   ìˆœìœ„  ISBN
5068   ìˆœìœ„  ISBN
5271   ìˆœìœ„  ISBN
5474   ìˆœìœ„  ISBN
5677   ìˆœìœ„  ISBN
5880   ìˆœìœ„  ISBN
6083   ìˆœìœ„  ISBN
6286   ìˆœìœ„  ISBN
6489   ìˆœìœ„  ISBN
6692   ìˆœìœ„  ISBN
6895   ìˆœìœ„  ISBN
7098   ìˆœìœ„  ISBN
7501   ìˆœìœ„  ISBN
7704   ìˆœìœ„  ISBN
7907   ìˆœìœ„  ISBN
8110   ìˆœìœ„  ISBN
8313   ìˆœìœ„  ISBN
8516   ìˆœìœ„  ISBN
8719   ìˆœìœ„  ISBN
8922   ìˆœìœ„  ISBN
9125   ìˆœìœ„  ISBN
9328   ìˆœìœ„  ISBN
9531   ìˆœìœ„  ISBN
9934   ìˆœìœ„  ISBN
10137  ìˆœìœ„  ISBN
10340  ìˆœìœ„  ISBN
10543  ìˆœìœ„  ISBN
10746  ìˆœìœ„  ISBN
10949  ìˆœìœ„  ISBN
11152  ìˆœìœ„  ISBN
11355  ìˆœìœ„  ISBN
11558  ìˆœìœ„  ISBN
11761  ìˆœìœ„  ISBN
11964  ìˆœìœ„  ISBN

In [9]:
asd = []
for i in range(0,len(df['ISBN'])) : 
    if df.loc[i,'ISBN'] == 'ISBN' :
        asd.append(i)

In [10]:
df.drop(asd, inplace=True)

In [11]:
df

        ìˆœìœ„           ISBN
0        1  9791164134267
1        2  9791190305679
2        3  9788959896127
3        4  9791190313131
4        5  9791196797706
...    ...            ...
12160  196  9791194353058
12161  197  9791141077761
12162  198  9791160560589
12163  198  9791193866146
12164  200  9791194246442

[12110 rows x 2 columns]

In [ ]:
df.to_csv('êµë³´ë°ì´í„°.csv', index=False)

# ë² ìŠ¤íŠ¸ì…€ëŸ¬ë“±ê·¹íšŸìˆ˜ ë§µí•‘

In [120]:
import pandas as pd

df = pd.read_csv('ì„œìš¸ë„ì„œê´€_12ì°¨ì •ì œ.csv')

C:\Users\user\AppData\Local\Temp\ipykernel_2008\4238376689.py:3: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('ì„œìš¸ë„ì„œê´€_12ì°¨ì •ì œ.csv')

In [ ]:
df.info()

In [125]:
test = pd.read_csv('êµë³´ìˆœìœ„.csv')

In [128]:
test.drop(0, inplace=True)

In [130]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3678 entries, 1 to 3678
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ISBN    3678 non-null   float64
 1   count   3678 non-null   int64
dtypes: float64(1), int64(1)
memory usage: 57.6 KB

In [65]:
test.to_csv('ì•Œë¼ë”˜_ì›”ê°„_ìµœì¢….csv', index=False)

In [ ]:
df['ISBN'] = df['ISBN'].astype(str).str.strip()

# ìˆ«ìë¡œ ë³€í™˜ì´ ë¶ˆê°€ëŠ¥í•œ ISBNë§Œ í•„í„°ë§
invalid_isbn = df[~df['ISBN'].str.match(r'^\d{13}$')]

# ê²°ê³¼ í™•ì¸
print(invalid_isbn[['TITLE', 'ISBN']])

In [119]:
# ISBNì„ ë¬¸ìì—´ë¡œ ì •ë¦¬
df['ISBN'] = df['ISBN'].astype(str).str.strip()

# ìœ íš¨í•œ ISBNë§Œ ë‚¨ê¸°ê¸° (13ìë¦¬ ìˆ«ìë§Œ í—ˆìš©)
df = df[df['ISBN'].str.match(r'^\d{13}$')]

# ê²°ê³¼ ì €ì¥ (ì„ íƒ)
df.to_csv("ì„œìš¸ë„ì„œê´€_12ì°¨ì •ì œ.csv", index=False)

In [ ]:
# ISBN ì •ì œ: .0 ì œê±°í•˜ê³  ë¬¸ìì—´ë¡œ ë³€í™˜
test['ISBN'] = pd.to_numeric(test['ISBN'], errors='coerce')\
    .dropna().astype(int).astype(str)

In [134]:
df[df['kyobo_best'] > 1]

Empty DataFrame
Columns: [TITLE, AUTHOR, PUBLER, ONLNYN, STRUCT_YN, CLASS_NO, PUBLER_YEAR, LANG, PAGE, ISBN, CLASS_NO_NORMALIZED, AUTHOR_normalized, kyobo_best]
Index: []

In [ ]:
# ì˜ˆë¥¼ ë“¤ì–´, ë°ì´í„°í”„ë ˆì„ ì´ë¦„ì´ dfë¼ê³  í•  ë•Œ
isbn_count_dict = test.set_index('ISBN')['count'].to_dict()

In [157]:
df['ISBN'] = df['ISBN'].astype(str)

In [158]:
df['kyobo_best'] = df['ISBN'].map(isbn_count_dict)

In [ ]:
df[df['kyobo_best'] > 1]

In [163]:
df['kyobo_best'] = df['kyobo_best'].fillna(0)

In [217]:
test = pd.read_csv('ì•Œë¼ë”˜_ì›”ê°„_ìµœì¢….csv')

In [219]:
test.drop(['ìˆœë²ˆ/ìˆœìœ„'], axis=1, inplace=True)

In [222]:
test['ISBN'].value_counts().to_csv('ì•Œë¼ë”˜_ìˆœìœ„.csv', index=True)

In [223]:
test = pd.read_csv('ì•Œë¼ë”˜_ìˆœìœ„.csv')

In [225]:
isbn_count_dict = test.set_index('ISBN')['count'].to_dict()

In [229]:
df['aladin_best'] = df['ISBN'].map(isbn_count_dict).fillna(0)

In [234]:
df.to_csv('ì„œìš¸ë„ì„œê´€_14ì°¨ì •ì œ.csv', index=False)

In [243]:
test = pd.read_csv('yes24_ì›”ê°„.csv')

In [244]:
test.drop('ìˆœìœ„', axis=1, inplace=True)

In [246]:
test['ISBN'].value_counts().to_csv('yes24_ìˆœìœ„.csv', index=True)

In [247]:
test = pd.read_csv('yes24_ìˆœìœ„.csv')

In [ ]:
test['ISBN'] = pd.to_numeric(test['ISBN'], errors='coerce')\
    .dropna().astype(int).astype(str)

In [252]:
isbn_count_dict = test.set_index('ISBN')['count'].to_dict()

In [254]:
df['yes24_best'] = df['ISBN'].map(isbn_count_dict).fillna(0)

In [ ]:
df[df['yes24_best'] > 10]

In [258]:
test = pd.read_csv('ì˜í’_ì›”ê°„_ìµœì¢….csv')

In [260]:
test.drop('ìˆœë²ˆ', axis=1, inplace=True)

In [263]:
test['ISBN'].value_counts().to_csv('ì˜í’_ìˆœìœ„.csv', index=True)

In [264]:
test = pd.read_csv('ì˜í’_ìˆœìœ„.csv')

In [266]:
test['ISBN'] = pd.to_numeric(test['ISBN'], errors='coerce')\
    .dropna().astype(int).astype(str)

In [267]:
isbn_count_dict = test.set_index('ISBN')['count'].to_dict()

In [268]:
df['yp_best'] = df['ISBN'].map(isbn_count_dict).fillna(0)

In [ ]:
df[df['yp_best'] > 30]

In [272]:
df.to_csv('ì„œìš¸ë„ì„œê´€_15ì°¨ì •ì œ.csv', index=False)

In [12]:
import pandas as pd
df = pd.read_csv('ì„œìš¸ë„ì„œê´€_15ì°¨ì •ì œ.csv')
df

C:\Users\user\AppData\Local\Temp\ipykernel_1900\3651819877.py:2: DtypeWarning: Columns (6,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('ì„œìš¸ë„ì„œê´€_15ì°¨ì •ì œ.csv')

,TITLE,AUTHOR,PUBLER,ONLNYN,STRUCT_YN,CLASS_NO,PUBLER_YEAR,LANG,PAGE,ISBN,CLASS_NO_NORMALIZED,AUTHOR_normalized,kyobo_best,aladin_best,yes24_best,yp_best
0,ë‚˜ëŠ” ëª‡ ì‚´ê¹Œì§€ ì‚´ê¹Œï¼Ÿ,í•˜ì›Œë“œ S. í”„ë¦¬ë“œë¨¼,ìŒ¤ì•¤íŒŒì»¤ìŠ¤,N,N,ì˜í•™,2011,kor,368.0,9788965700104,510,í•˜ì›Œë“œ S. í”„ë¦¬ë“œë¨¼,0.0,0.0,0.0,0.0
1,ë°©ì†¡ì˜ìƒ ì €ì‘ê¶Œ,ë‚˜ë‚™ê· ì§€ìŒ,ì¸ì œëŒ€í•™êµì¶œíŒë¶€,N,N,"ë„ì„œí•™, ì„œì§€í•™",2010,kor,324.0,9788987054926,10,ë‚˜ë‚™ê·,0.0,0.0,0.0,0.0
2,ë¹—ë°©ìš¸ì²˜ëŸ¼ ë‚˜ëŠ” í˜¼ìì˜€ë‹¤,ê³µì§€ì˜ ì§€ìŒ,í™©ê¸ˆë‚˜ì¹¨ë°˜,N,N,í•œêµ­ë¬¸í•™,2006,kor,204.0,9788991949720,810,ê³µì§€ì˜,0.0,0.0,0.0,0.0
3,ìºë…¼ EOS 5D Mark2 ì™„ë²½ê°€ì´ë“œ,ì •ì›ê·¸ë¼í”¼ì•„ ë°œí–‰,ì •ì›ê·¸ë¼í”¼ì•„,N,N,ì‚¬ì§„ì˜ˆìˆ,2011,kor,126.0,9788996077749,660,ì •ì›ê·¸ë¼í”¼ì•„,0.0,0.0,0.0,0.0
4,ì†Œê¸ˆì˜ ì—­ìŠµ :ë‚´ ëª¸ ì† ì„¸í¬ê°€ ë§ë¼ ì£½ê³ ìˆë‹¤ =(The) salt attack,í´ë¼ìš°ìŠ¤ ì˜¤ë²„ë°”ì¼ ì§€ìŒ,ê°€ë””ì–¸,N,N,ì˜í•™,2011,kor,215.0,9788994909110,510,í´ë¼ìš°ìŠ¤ ì˜¤ë²„ë°”ì¼,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374425,ë¸”ë¡ì²´ì¸ê³¼ ì•”í˜¸í™”í í˜ëª…ì¸ê°€ ë°˜ë€ì¸ê°€ :ê°€ìƒí™”í ì‹œëŒ€ì˜ ì² í•™ ì—ì„¸ì´ =Blockch...,ê¹€ì¢…í˜¸ ì§€ìŒ,ì±…ê³¼ë‚˜ë¬´,N,N,ê²½ì œí•™,2024,kor,438.0,9791167525369,320,ê¹€ì¢…í˜¸,0.0,0.0,0.0,0.0
374426,"(ë§ˆì¼€íŒ… ë¹„ìš© ê·¹ì ìœ¼ë¡œ ì¤„ì´ëŠ”) 10ë§Œ ì› ë§ˆì¼€íŒ… :ì†Œìƒê³µì¸, ìŠ¤íƒ€íŠ¸ì—…ì˜ ê´‘ê³ ë°œìƒ...",ê¹€ê¸°í˜„ ì§€ìŒ,ë‚˜ë¹„ì˜ í™œì£¼ë¡œ,N,N,ê²½ì œí•™,2024,kor,257.0,9791193110430,320,ê¹€ê¸°í˜„,0.0,0.0,0.0,0.0
374427,ì†”ë²„íƒ€ì´ì§• :'ê´‘ê³ ê³„ì˜ ë‹¤ìœ—' ì´ìŠ¹ì¬ì˜ ë§ˆì¼€íŒ… ì „ëµ ë…¸íŠ¸ =Solvertising,ì´ìŠ¹ì¬ ì§€ìŒ,ë‹¤ì‚°ë¶ìŠ¤,N,N,ê²½ì œí•™,2024,kor,287.0,9791130648101,320,ì´ìŠ¹ì¬,0.0,0.0,0.0,0.0
374428,IT íŠ¸ë Œë“œ :ìƒˆë¡œ ì“°ëŠ” AIì˜ ë¯¸ë˜ì™€ ì„¸ê³„ ë¹„ì¦ˆë‹ˆìŠ¤ ëª¨ë¸ì˜ ëª¨ë“ ê²ƒ .2025,ê¹€ì§€í˜„ ì§€ìŒ,Creta(í¬ë ˆíƒ€),N,N,"ì‚¬íšŒí•™, ì‚¬íšŒë¬¸ì œ",2024,kor,323.0,9791192742342,330,ê¹€ì§€í˜„,0.0,0.0,0.0,0.0
374429,"(ì™¸ìš°ì§€ ì•Šê³ í†µìœ¼ë¡œ ì´í•´í•˜ëŠ”) í†µì„¸ê³„ì‚¬ .1 ,ì¸ë¥˜ íƒ„ìƒì—ì„œ ì¤‘ì„¸ ì‹œëŒ€ê¹Œì§€",ê¹€ìƒí›ˆ ì§€ìŒ,ë‹¤ì‚°ì—ë“€: ë‹¤ì‚°ë¶ìŠ¤,N,N,ì—­ì‚¬,2011,kor,455.0,9788963706382,900,ê¹€ìƒí›ˆ,0.0,0.0,0.0,0.0