# 도서데이터
- 베스트셀러_통합최종.csv -> 최종버전
- 비베스트셀러_랜덤최종.csv -> 최종버전
- 제목, 저자, 출판사, e북여부(수집중), 중분류, 출판일, 언어, 페이지, ISBN, 플랫폼별 베스트셀러 등극횟수(교보,알라딘,예사,영풍,총횟수), 대출건수(수집중)

# 리뷰
- 리뷰_교보베스트_최종.csv
- 리뷰_교보비베스트_최종.csv
- 리뷰_알라딘베스트_최종.csv
- 리뷰_알라딘비베스트_최종.csv
- 리뷰_영풍베스트_최종.csv
- 리뷰_영풍비베스트_최종.csv
- 리뷰_예사베스트_최종.csv
- 리뷰_예사비베스트_최종.csv
-> 공감, 협찬 등 추가 정제 필요함

# 성비
- 베스트셀러_성비_최종.csv
- 비베스트셀러_성비_최종.csv

# SNS

# 정제
- 도서데이터 정제 해야함
- 도서데이터 정제 끝나면 출판사 추출해서 코드 돌려야함

# 대출건수, e북 합치기

In [1]:
import pandas as pd
df = pd.read_csv('베스트셀러_통합2차_대출건수.csv')
test = pd.read_csv('베스트셀러_통합2차_e북.csv')

In [6]:
test.columns

Index(['TITLE', 'AUTHOR', 'PUBLER', 'CLASS_NO', 'PUBLER_YEAR', 'LANG', 'PAGE',
       'ISBN', 'AUTHOR_normalized', 'kyobo_best', 'aladin_best', 'yes24_best',
       'yp_best', 'best_count', 'LOAN_COUNT', 'E_BOOK'],
      dtype='object')

In [8]:
test.drop(['TITLE', 'AUTHOR', 'PUBLER', 'CLASS_NO', 'PUBLER_YEAR', 'LANG', 'PAGE','AUTHOR_normalized', 'kyobo_best', 'aladin_best', 'yes24_best',
       'yp_best', 'best_count', 'LOAN_COUNT'], axis=1, inplace=True)

In [10]:
df = df.merge(test[['ISBN', 'E_BOOK']], on='ISBN', how='left')

In [13]:
df.columns

Index(['TITLE', 'AUTHOR', 'PUBLER', 'ONLNYN', 'CLASS_NO', 'PUBLER_YEAR',
       'LANG', 'PAGE', 'ISBN', 'AUTHOR_normalized', 'kyobo_best',
       'aladin_best', 'yes24_best', 'yp_best', 'best_count', 'LOAN_COUNT',
       'E_BOOK'],
      dtype='object')

In [ ]:
df.drop('ONLNYN', axis=1, inplace=True)
df

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9804 entries, 0 to 9803
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   TITLE              9804 non-null   object
 1   AUTHOR             9804 non-null   object
 2   PUBLER             9804 non-null   object
 3   CLASS_NO           9804 non-null   object
 4   PUBLER_YEAR        9804 non-null   int64
 5   LANG               9804 non-null   object
 6   PAGE               9804 non-null   float64
 7   ISBN               9804 non-null   int64
 8   AUTHOR_normalized  9782 non-null   object
 9   kyobo_best         9804 non-null   float64
 10  aladin_best        9804 non-null   float64
 11  yes24_best         9804 non-null   float64
 12  yp_best            9804 non-null   float64
 13  best_count         9804 non-null   float64
 14  LOAN_COUNT         9125 non-null   float64
 15  E_BOOK             9804 non-null   object
dtypes: float64(7), int64(2), object(7)
memory usage: 1.2+ MB

# 정제 및 데이터 추가 수집
- 저자열 정규화
- 없는 데이터 크롤링

In [18]:
df['LOAN_COUNT'].fillna(0, inplace=True)

C:\Users\user\AppData\Local\Temp\ipykernel_14020\3928543893.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['LOAN_COUNT'].fillna(0, inplace=True)

In [23]:
df.drop('AUTHOR_normalized', axis=1, inplace=True)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9804 entries, 0 to 9803
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   TITLE        9804 non-null   object
 1   AUTHOR       9804 non-null   object
 2   PUBLER       9804 non-null   object
 3   CLASS_NO     9804 non-null   object
 4   PUBLER_YEAR  9804 non-null   int64
 5   LANG         9804 non-null   object
 6   PAGE         9804 non-null   float64
 7   ISBN         9804 non-null   int64
 8   kyobo_best   9804 non-null   float64
 9   aladin_best  9804 non-null   float64
 10  yes24_best   9804 non-null   float64
 11  yp_best      9804 non-null   float64
 12  best_count   9804 non-null   float64
 13  LOAN_COUNT   9804 non-null   float64
 14  E_BOOK       9804 non-null   object
dtypes: float64(7), int64(2), object(6)
memory usage: 1.1+ MB

In [47]:
df['ISBN'] = df['ISBN'].astype(str)

In [51]:
df[df['ISBN'].str.len() < 13]

Empty DataFrame
Columns: [TITLE, AUTHOR, PUBLER, CLASS_NO, PUBLER_YEAR, LANG, PAGE, ISBN, kyobo_best, aladin_best, yes24_best, yp_best, best_count, LOAN_COUNT, E_BOOK]
Index: []

In [65]:
df['AUTHOR'][280:300]

280            에디 제이쿠 지음
281           그레이스 로던 지음
282              리사 손 지음
283               윤영주 지음
284               오성민 지음
285            루스 리스터 지음
286    레프 니꼴라예비치 똘스또이 지음
287           데이브 랜드리 지음
288               정지음 지음
289               이민진 지음
290               김상근 지음
291               장재형 지음
292          가와카미 데쓰야 지음
293              숀 비텔 지음
294               김성우 지음
295               현찬양 지음
296               이민규 지음
297               고정순 지음
298               안녕달 지음
299            하워드 막스 지음
Name: AUTHOR, dtype: object

한병철 [지음] X
한병철 지음
카이 버드
마이클 샌델 원저
윤성우 [저] X
김서윤 글
한강 [외]지음 X
쩡찌 글·그림
잭 슈웨거 저
최미숙
토스 엮음
이상은 노랫말
지은이: 프란츠 카프카 X

In [66]:
df.to_csv('베스트셀러_통합3차.csv', index=False)

In [67]:
df = pd.read_csv('베스트셀러_통합3차.csv')

In [71]:
df = df.replace({'AUTHOR' : {r'(.*)\[.*\]' : r'\1'}}, regex=True)

In [76]:
df[df['AUTHOR'].str.contains('\[')]

Empty DataFrame
Columns: [TITLE, AUTHOR, PUBLER, CLASS_NO, PUBLER_YEAR, LANG, PAGE, ISBN, kyobo_best, aladin_best, yes24_best, yp_best, best_count, LOAN_COUNT, E_BOOK]
Index: []

In [78]:
df = df.replace({'AUTHOR' : {r'.*:(.*)' : r'\1'}}, regex=True)

In [ ]:
df[df['AUTHOR'].str.contains('카프카')]

In [83]:
import re
pattern = r"(글|그림|지음|원저|저|엮음|노랫말)"
normalized = []
for name in df['AUTHOR']:
    # 해당 단어가 나오기 전까지 자르기
    normalized.append(re.split(pattern, name)[0].strip())

In [85]:
df['AUTHOR'] = normalized

In [91]:
df[df['AUTHOR'].str.contains('노랫말')]

Empty DataFrame
Columns: [TITLE, AUTHOR, PUBLER, CLASS_NO, PUBLER_YEAR, LANG, PAGE, ISBN, kyobo_best, aladin_best, yes24_best, yp_best, best_count, LOAN_COUNT, E_BOOK]
Index: []

MiraeN 아이세움: 미래엔
오렌지미디어(Orange Media)
필름: 필름(Feelm) 출판사

In [102]:
df['PUBLER'][160:180]

160              클랩북스
161             이레미디어
162            문학과지성사
163              마음산책
164             정보문화사
165                창비
166            비즈니스북스
167               서사원
168              좋은북스
169              생각이음
170       경이로움: 사이다경제
171             롱테일북스
172     B Lab: 디앤씨미디어
173               센시오
174          비채 : 김영사
175               비룡소
176               비룡소
177              오월의봄
178              창비교육
179    북스그라운드 : 인플루엔셜
Name: PUBLER, dtype: object

In [104]:
df.to_csv('베스트셀러_통합4차.csv', index=False)

In [1]:
import pandas as pd
df = pd.read_csv('베스트셀러_통합4차.csv')
df

,TITLE,AUTHOR,PUBLER,CLASS_NO,PUBLER_YEAR,LANG,PAGE,ISBN,kyobo_best,aladin_best,yes24_best,yp_best,best_count,LOAN_COUNT,E_BOOK
0,피로사회,한병철,문학과지성사,철학,2012,kor,128.0,9788932022888,0.0,2.0,0.0,0.0,2.0,53135.0,Y
1,"나의 문화유산답사기 .1 ,남도답사 일번지",유홍준,창작과 비평사,지리,2011,kor,454.0,9788936472016,0.0,1.0,0.0,0.0,1.0,33749.0,Y
2,아메리칸 프로메테우스 :로버트 오펜하이머 평전,카이 버드,사이언스북스,물리학,2010,kor,1117.0,9788983711137,0.0,1.0,0.0,0.0,1.0,3551.0,Y
3,나는 빠리의 택시 운전사,홍세화,창비,한국문학,2007,kor,375.0,9788936471187,0.0,1.0,0.0,0.0,1.0,15570.0,N
4,파리대왕,윌리엄 골딩,민음사,문학,2010,kor,327.0,9788937460197,0.0,1.0,0.0,0.0,1.0,40082.0,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9799,"(최재천의) 동물대탐험 :지구를 사랑하는 어린이를 위한 생물학 동화 .7 ,무왕가 ...",황혜영,다산어린이 : 다산북스,생물과학,2024,kor,181.0,9791130659091,0.0,1.0,0.0,0.0,1.0,0.0,Y
9800,"소맥거핀의 인체 친구들 .2 ,지독한 바이러스와의 전쟁",소맥거핀 원작,위즈덤하우스,의학,2024,kor,157.0,9791171712946,2.0,1.0,2.0,2.0,7.0,0.0,Y
9801,"푸른 사자 와니니 :이현 장편동화 .7 ,인간의 길에서",이현,창비,문학,2024,kor,208.0,9788936443368,2.0,4.0,4.0,1.0,11.0,0.0,N
9802,수도사의 두건 :엘리스 피터스 장편소설,엘리스 피터스,북하우스: 북하우스 퍼블리셔스,영미문학,2024,kor,339.0,9791164052578,0.0,1.0,0.0,0.0,1.0,443.0,Y
9803,세인트자일스의 나환자 :엘리스 피터스 장편소설,엘리스 피터스,북하우스: 북하우스 퍼블리셔스,영미문학,2024,kor,326.0,9791164052592,0.0,1.0,0.0,0.0,1.0,304.0,Y

In [6]:
df[df['AUTHOR'].str.contains('원작', na=False)]

,TITLE,AUTHOR,PUBLER,CLASS_NO,PUBLER_YEAR,LANG,PAGE,ISBN,kyobo_best,aladin_best,yes24_best,yp_best,best_count,LOAN_COUNT,E_BOOK
107,옐언니 .3,옐언니 원작,아울북,교육학,2024,kor,138.0,9791171173471,0.0,0.0,0.0,2.0,2.0,1135.0,N
533,무민 가족과 크리스마스 대소동,토베 얀손 원작,어린이작가정신 : 작가정신,독일문학,2020,kor,30.0,9791160266030,0.0,1.0,0.0,0.0,1.0,8556.0,Y
1241,"거래의 신, 혼마 :주식시장의 캔들차트와 사께다 전법의 창시자",혼마 무네히사 원작,이레미디어,경제학,2008,kor,335.0,9788991998162,0.0,1.0,0.0,0.0,1.0,6843.0,Y
1275,"곰돌이 푸, 행복한 일은 매일 있어 :아직 행복을 기다리는 우리에게",곰돌이 푸 원작,알에이치코리아,한국문학,2018,kor,160.0,9788925563350,2.0,0.0,0.0,11.0,13.0,51183.0,Y
1969,흔한남매 .11,흔한남매 원작,MiraeN 아이세움 : 미래엔,한국문학,2022,kor,191.0,9791168412477,5.0,8.0,12.0,13.0,38.0,63770.0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9736,"(뚜식이의) 과학 일기 .1 ,뇌와 사춘기",뚜식이 원작,서울문화사,자연과학,2024,kor,185.0,9791169234610,0.0,0.0,0.0,1.0,1.0,0.0,N
9762,(탁주&쪼꼬) 탈출 게임 .1,탁주쪼꼬 원작,대원키즈 : 대원씨아이,한국문학,2024,kor,149.0,9791172032944,3.0,1.0,0.0,8.0,12.0,2149.0,N
9769,(에그박사의) 이건 누구 똥?! .4,에그박사 원작,Mirae N 아이세움: 미래엔,동물학,2024,kor,82.0,9791168415454,0.0,1.0,0.0,0.0,1.0,0.0,N
9793,"(유령시티) SCP 재단 .1 ,1급 비밀 보고서",유령시티 원작,서울문화사,한국문학,2023,kor,169.0,9791169238441,0.0,0.0,0.0,1.0,1.0,1820.0,N
9800,"소맥거핀의 인체 친구들 .2 ,지독한 바이러스와의 전쟁",소맥거핀 원작,위즈덤하우스,의학,2024,kor,157.0,9791171712946,2.0,1.0,2.0,2.0,7.0,0.0,Y

In [7]:
df.loc[df['AUTHOR'].str.contains('원작', na=False), 'AUTHOR'] = df['AUTHOR'].str.extract(r'^(.*?)\s*원작')

In [8]:
df[df['AUTHOR'].str.contains('원작', na=False)]

Empty DataFrame
Columns: [TITLE, AUTHOR, PUBLER, CLASS_NO, PUBLER_YEAR, LANG, PAGE, ISBN, kyobo_best, aladin_best, yes24_best, yp_best, best_count, LOAN_COUNT, E_BOOK]
Index: []

In [ ]:
for i in df[df['AUTHOR'].isna()]['ISBN'] :
    print(i)

In [12]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup
import time
import pandas as pd

# ChromeOptions 설정
options = webdriver.ChromeOptions()
# options.add_argument('--headless')  # 크롬창 숨기기 (필요시 주석 해제)
options.add_argument('--start-maximized')  # 크롬창 최대화
options.add_experimental_option('detach', True)  # 코드 종료 후 창 유지
options.add_argument("--disable-blink-features=AutomationControlled")  # 탐지 우회

# 드라이버 실행
driver = webdriver.Chrome(options=options)
for i in df[df['AUTHOR'].isna()]['ISBN'] :
    driver.get(f'https://search.kyobobook.co.kr/search?keyword={i}&gbCode=TOT&target=total')
    html = driver.page_source
    soup = BeautifulSoup(html, 'html.parser')
    aut = soup.find('a', 'author rep').text
    df.loc[df['ISBN'] == i, 'AUTHOR'] = aut

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9804 entries, 0 to 9803
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   TITLE        9804 non-null   object
 1   AUTHOR       9804 non-null   object
 2   PUBLER       9804 non-null   object
 3   CLASS_NO     9804 non-null   object
 4   PUBLER_YEAR  9804 non-null   int64
 5   LANG         9804 non-null   object
 6   PAGE         9804 non-null   float64
 7   ISBN         9804 non-null   int64
 8   kyobo_best   9804 non-null   float64
 9   aladin_best  9804 non-null   float64
 10  yes24_best   9804 non-null   float64
 11  yp_best      9804 non-null   float64
 12  best_count   9804 non-null   float64
 13  LOAN_COUNT   9804 non-null   float64
 14  E_BOOK       9804 non-null   object
dtypes: float64(7), int64(2), object(6)
memory usage: 1.1+ MB

In [ ]:
df['ISBN'].duplicated()

0

출판사 패턴
MiraeN 아이세움: 미래엔 -> 미래엔
오렌지미디어(Orange Media) -> 오렌지미디어
뜨인돌출판사, 뜨인돌, 뜨인돌출판, 뜨인돌출판:뜨인돌 -> 뜨인돌
인티N(인티앤) -> 인티앤
RHK(알에이치코리아), 알에이치코리아(RHK) -> 알에이치코리아
한국경제신문 : 한경BP -> 한국경제신문
아이휴먼: 휴먼큐브, 아이휴먼×Dankkumi : 휴먼큐브, 휴먼큐브: 아이휴먼, 휴먼큐브 -> 휴먼큐브
카시오페아, 카시오페아: 카시오페아 출판사 -> 카시오페아
포레스트북스: 콘텐츠그룹 포레스트, 리프 : 콘텐츠그룹 포레스트 -> 포레스트북스
나무의말 : 청어람미디어, 청어람미디어 : 나무의말 -> 청어람미디어
필름(Feelm), 필름: 필름(Feelm) 출판사, 필름, Cloudia(클라우디아): 필름, 필름: 클라우디아(Cloudia) -> 필름
블루홀식스, 블루홀6(블루홀식스) -> 블루홀식스
길벗, 더 퀘스트: 길벗 -> 길벗
리더스북 : 웅진씽크빅, 갤리온: 웅진씽크빅, 웅진주니어 : 웅진씽크빅, 웅진지식하우스: 웅진씽크빅 -> 웅진씽크빅
21세기북스: 북이십일, 북이십일 : 북이십일 21세기북스, 21세기북스(북이십일 21세기북스) -> 북이십일
Whale Books(웨일북), 웨일북(Whale Books) -> 웨일북
사계절, 사계절출판사, 사계절: 사계절출판사 -> 사계절

In [46]:
df[df['PUBLER'].str.contains('사계절')]

,TITLE,AUTHOR,PUBLER,CLASS_NO,PUBLER_YEAR,LANG,PAGE,ISBN,kyobo_best,aladin_best,yes24_best,yp_best,best_count,LOAN_COUNT,E_BOOK
54,오이대왕,크리스티네 뇌스틀링거,사계절,독일문학,2009,kor,185.0,9788958283508,0.0,1.0,0.0,0.0,1.0,26191.0,N
125,계급 천장 :커리어와 인생에 드리운 긴 그림자,샘 프리드먼,사계절출판사,"사회학, 사회문제",2024,kor,471.0,9791169811859,0.0,1.0,0.0,0.0,1.0,638.0,Y
192,화요일의 두꺼비 :러셀 에릭슨 창작동화,러셀 에릭슨,사계절,영미문학,2014,kor,117.0,9788958287483,0.0,3.0,0.0,0.0,3.0,57413.0,N
290,두더지의 여름 :김상근 그림책,김상근,사계절: 사계절출판사,한국문학,2022,kor,56.0,9791160949599,0.0,2.0,0.0,0.0,2.0,22195.0,N
322,프린들 주세요,앤드루 클레먼츠,사계절,문학,2012,kor,154.0,9788971968345,0.0,8.0,0.0,0.0,8.0,152244.0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8915,세계는 이렇게 바뀐다 :수레바퀴 이후 : 단요 장편소설,단요,사계절출판사,한국문학,2023,kor,222.0,9791169811545,0.0,1.0,0.0,0.0,1.0,1905.0,Y
8934,존엄을 외쳐요 :함께 만드는 세계인권선언,김은하,사계절: 사계절출판사,정치학,2022,kor,66.0,9791160949827,0.0,1.0,0.0,0.0,1.0,2329.0,Y
9315,풀벌레그림꿈,서현,사계절출판사,한국문학,2024,kor,1.0,9791169811910,0.0,1.0,0.0,0.0,1.0,3140.0,N
9749,달꽃 밥상 :지영우 그림책,지영우,사계절: 사계절출판사,한국문학,2024,kor,50.0,9791169813327,0.0,1.0,0.0,0.0,1.0,0.0,N
9792,몽골제국 연대기,라시드 앗 딘,사계절: 사계절출판사,아시아(아세아),2024,kor,431.0,9791169812207,0.0,2.0,0.0,0.0,2.0,0.0,Y

In [41]:
df['PUBLER'][120:150]

120                  오월의봄
121          리더스북 : 웅진씽크빅
122                  영진닷컴
123          21세기북스: 북이십일
124      Whale Books(웨일북)
125                사계절출판사
126                문학과지성사
127                   역바연
128          RHK(알에이치코리아)
129                  현대지성
130                  새의노래
131    포레스트북스: 콘텐츠그룹 포레스트
132                그린비출판사
133             북다 : 교보문고
134                   북스톤
135         page2(페이지2북스)
136                  문학동네
137                   저녁달
138                   비룡소
139               책과함께어린이
140                 나무의마음
141                    창비
142                    책만
143                  새의노래
144                 길벗어린이
145                  은행나무
146                 길벗어린이
147                  글항아리
148                 쌤엔파커스
149                    미행
Name: PUBLER, dtype: object

In [47]:
import re
normalize_rules = {
    r'miraen|아이세움': '미래엔',
    r'오렌지미디어': '오렌지미디어',
    r'뜨인돌': '뜨인돌',
    r'인티.?앤': '인티앤',
    r'rhk|알에이치코리아': '알에이치코리아',
    r'한경bp|한국경제신문': '한국경제신문',
    r'휴먼큐브|아이휴먼': '휴먼큐브',
    r'카시오페아': '카시오페아',
    r'포레스트북스|콘텐츠그룹 포레스트|리프': '포레스트북스',
    r'청어람미디어|나무의말': '청어람미디어',
    r'필름|feelm|cloudia|클라우디아': '필름',
    r'블루홀식스|블루홀6': '블루홀식스',
    r'길벗|더 퀘스트': '길벗',
    r'웅진씽크빅|리더스북|갤리온|웅진지식하우스|웅진주니어': '웅진씽크빅',
    r'21세기북스|북이십일': '북이십일',
    r'웨일북|whale books': '웨일북',
    r'사계절': '사계절'
}

# 정규화 함수 정의
def normalize_publisher(publisher):
    if pd.isna(publisher):
        return publisher
    publisher_lower = publisher.lower()  # 대소문자 무시
    for pattern, replacement in normalize_rules.items():
        if re.search(pattern, publisher_lower):
            return replacement
    return publisher  # 규칙에 없으면 원본 유지

# 정규화된 컬럼 추가
df['PUBLER'] = df['PUBLER'].apply(normalize_publisher)

In [49]:
df.to_csv('베스트셀러_통합5차.csv', index=False)

In [56]:
df[df['PUBLER'].str.contains('\(')]

,TITLE,AUTHOR,PUBLER,CLASS_NO,PUBLER_YEAR,LANG,PAGE,ISBN,kyobo_best,aladin_best,yes24_best,yp_best,best_count,LOAN_COUNT,E_BOOK
101,"라키비움J :그림책 잡지 .[6] ,롤리팝 =LarchiveumJ : picture...",오현수,제이포럼(J포럼),문헌정보학,2022,kor,231.0,9791197525346,0.0,2.0,2.0,0.0,4.0,789.0,N
135,매주 달러 받는 배당주 통장 :미국 배당주 알짜 기업 213을 알면 수익 나는 전략...,장우석,page2(페이지2북스),경제학,2024,kor,361.0,9791169850704,3.0,4.0,6.0,0.0,13.0,5212.0,Y
151,기도를 송두리째 바꾸신 예수 그리스도 :주님이 이끄시는 기도,박리부가,규장(규장문화사),기독교,2024,kor,303.0,9791165045098,1.0,5.0,2.0,0.0,8.0,1343.0,Y
189,기침을 해도 나 혼자 그리고 고양이 한 마리,무레 요코,경향BP(경향비피),"농업, 농학",2019,kor,256.0,9788969523327,0.0,5.0,0.0,0.0,5.0,1843.0,N
227,100배 주식 :최고의 주식을 고르는 단 하나의 길,크리스토퍼 메이어,Waterbearpress(워터베어프레스),경제학,2019,kor,344.0,9791196159023,0.0,1.0,0.0,0.0,1.0,11182.0,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9717,"'위안부', 더 많은 논쟁을 할 책임 :민족주의와 망언의 적대적 공존을 넘어",김은실,H(휴머니스트출판그룹),"사회학, 사회문제",2024,kor,465.0,9791170872290,0.0,1.0,0.0,0.0,1.0,0.0,Y
9765,월 300만 원 버는 주식 투자 공식 :ETF 투자 전문 유튜버 광화문금융러가 전하...,진서빈,Eden House(이든하우스출판),경제학,2024,kor,280.0,9791198564184,0.0,2.0,2.0,0.0,4.0,0.0,Y
9779,마음으로 경영하기 :제대로 해내기 위한 마음 관리의 기술,김효빈,Piper Press(파이퍼 프레스),경제학,2024,kor,178.0,9791198593580,0.0,1.0,0.0,0.0,1.0,0.0,Y
9791,풍미 마스터 클래스 :한 끗 차이로 맛의 차원을 높이는 '제리코 레시피'의 특급 풍...,백지혜,;(세미콜론),가정학 및 가정생활,2024,kor,296.0,9791194087588,0.0,2.0,0.0,0.0,2.0,0.0,Y
9798,블리스 :내 안의 찬란함을 위하여 : 피아니스트 임현정 에세이 =Bliss,임현정,Creta(크레타),음악,2024,kor,222.0,9791192742281,0.0,1.0,0.0,0.0,1.0,403.0,Y

In [1]:
import pandas as pd
df = pd.read_csv('베스트셀러_통합5차.csv')

In [23]:
df[df['PUBLER'].str.contains('\]')]

,TITLE,AUTHOR,PUBLER,CLASS_NO,PUBLER_YEAR,LANG,PAGE,ISBN,kyobo_best,aladin_best,yes24_best,yp_best,best_count,LOAN_COUNT,E_BOOK
454,"책, 읽지 말고 써라 :왜, 책을 읽으라고는 하면서 쓰라고는 하지 않을까 =Don'...",백작가,ㅊ: 치읓[치읃],"도서학, 서지학",2021,kor,290.0,9791190067362,0.0,1.0,0.0,0.0,1.0,568.0,Y
2849,홈·브런치 :도쿄를 사로잡은 베이커리 '365일'의 비밀 레시피 =Home brunch,스기쿠보 아키마사,나무 [수:] : 백도씨,가정학 및 가정생활,2020,kor,95.0,9788968332784,0.0,4.0,0.0,0.0,4.0,1154.0,N
3391,14데이의 특별한 마카롱 수업 :한국의 문화와 맛을 담은 궁국의 K-마카롱 레시피 ...,김수진,나무[수:]: 백도씨,가정학 및 가정생활,2021,kor,216.0,9788968333545,0.0,1.0,0.0,0.0,1.0,418.0,N
7560,#진상을 말씀드립니다,유키 신이치로,[시옷북스],일본문학,2023,kor,283.0,9791192579566,0.0,3.0,0.0,2.0,5.0,5414.0,N

In [28]:
df['PUBLER'] = df['PUBLER'].str.replace(r'[:\(\[\{].*$', '', regex=True).str.strip()

In [31]:
df[df['PUBLER'].str.contains('\[')]

Empty DataFrame
Columns: [TITLE, AUTHOR, PUBLER, CLASS_NO, PUBLER_YEAR, LANG, PAGE, ISBN, kyobo_best, aladin_best, yes24_best, yp_best, best_count, LOAN_COUNT, E_BOOK]
Index: []

In [34]:
df['PUBLER'].value_counts()

PUBLER
문학동네           292
길벗             231
창비             213
위즈덤하우스         204
북이십일           198
              ...
레제               1
렛츠북              1
시사북스             1
잇츠북              1
Piper Press      1
Name: count, Length: 1692, dtype: int64

In [35]:
df.to_csv('베스트셀러_통합최종.csv', index=False)

In [1]:
import pandas as pd
df = pd.read_csv('비베스트셀러_랜덤.csv')
test = pd.read_csv('비베스트셀러_1차_e북.csv')
test1 = pd.read_csv('비베스트셀러_1차_대출건수.csv')

In [4]:
test.columns

Index(['TITLE', 'AUTHOR', 'PUBLER', 'CLASS_NO', 'PUBLER_YEAR', 'LANG', 'PAGE',
       'ISBN', 'AUTHOR_normalized', 'kyobo_best', 'aladin_best', 'yes24_best',
       'yp_best', 'best_count', 'E_BOOK'],
      dtype='object')

In [5]:
test.drop(['TITLE', 'AUTHOR', 'PUBLER', 'CLASS_NO', 'PUBLER_YEAR', 'LANG', 'PAGE','AUTHOR_normalized', 'kyobo_best', 'aladin_best', 'yes24_best','yp_best', 'best_count'], axis=1,inplace=True)

In [8]:
test

               ISBN E_BOOK
0     9788997700721      N
1     9788973142644      N
2     9788988695913      Y
3     9788930010917      N
4     9788936474614      N
...             ...    ...
9799  9788960541894      N
9800  9780060765958      N
9801  9788928517909      N
9802  9791155440483      N
9803  9780231702744      N

[9804 rows x 2 columns]

In [12]:
test1.drop(['TITLE', 'AUTHOR', 'PUBLER', 'CLASS_NO', 'PUBLER_YEAR', 'LANG', 'PAGE','AUTHOR_normalized', 'kyobo_best', 'aladin_best', 'yes24_best','yp_best', 'best_count'], axis=1,inplace=True)

In [15]:
test1.drop(['ONLNYN'], axis=1, inplace=True)

In [16]:
test1

               ISBN  LOAN_COUNT
0     9788997700721        36.0
1     9788973142644         2.0
2     9788988695913       722.0
3     9788930010917        17.0
4     9788936474614      1831.0
...             ...         ...
9799  9788960541894       105.0
9800  9780060765958         0.0
9801  9788928517909         2.0
9802  9791155440483       132.0
9803  9780231702744         0.0

[9804 rows x 2 columns]

In [21]:
df['LOAN_COUNT'] = df['ISBN'].map(test1.set_index('ISBN')['LOAN_COUNT'])

In [24]:
df1 = pd.read_csv('베스트셀러_통합최종.csv')
df1.columns

Index(['TITLE', 'AUTHOR', 'PUBLER', 'CLASS_NO', 'PUBLER_YEAR', 'LANG', 'PAGE',
       'ISBN', 'kyobo_best', 'aladin_best', 'yes24_best', 'yp_best',
       'best_count', 'LOAN_COUNT', 'E_BOOK'],
      dtype='object')

In [ ]:
df.columns
# 'ONLNYN', 'AUTHOR_normalized',

Index(['TITLE', 'AUTHOR', 'PUBLER', 'ONLNYN', 'CLASS_NO', 'PUBLER_YEAR',
       'LANG', 'PAGE', 'ISBN', 'AUTHOR_normalized', 'kyobo_best',
       'aladin_best', 'yes24_best', 'yp_best', 'best_count', 'E_BOOK',
       'LOAN_COUNT'],
      dtype='object')

In [26]:
df.drop(['ONLNYN', 'AUTHOR_normalized'], axis=1, inplace=True)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9804 entries, 0 to 9803
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   TITLE        9804 non-null   object
 1   AUTHOR       9804 non-null   object
 2   PUBLER       9804 non-null   object
 3   CLASS_NO     9804 non-null   object
 4   PUBLER_YEAR  9804 non-null   object
 5   LANG         9804 non-null   object
 6   PAGE         9804 non-null   float64
 7   ISBN         9804 non-null   int64
 8   kyobo_best   9804 non-null   float64
 9   aladin_best  9804 non-null   float64
 10  yes24_best   9804 non-null   float64
 11  yp_best      9804 non-null   float64
 12  best_count   9804 non-null   float64
 13  E_BOOK       9804 non-null   object
 14  LOAN_COUNT   9791 non-null   float64
dtypes: float64(7), int64(1), object(7)
memory usage: 1.1+ MB

In [30]:
df['LOAN_COUNT'].fillna(0, inplace=True)

C:\Users\user\AppData\Local\Temp\ipykernel_6432\3928543893.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['LOAN_COUNT'].fillna(0, inplace=True)

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9804 entries, 0 to 9803
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   TITLE        9804 non-null   object
 1   AUTHOR       9804 non-null   object
 2   PUBLER       9804 non-null   object
 3   CLASS_NO     9804 non-null   object
 4   PUBLER_YEAR  9804 non-null   object
 5   LANG         9804 non-null   object
 6   PAGE         9804 non-null   float64
 7   ISBN         9804 non-null   int64
 8   kyobo_best   9804 non-null   float64
 9   aladin_best  9804 non-null   float64
 10  yes24_best   9804 non-null   float64
 11  yp_best      9804 non-null   float64
 12  best_count   9804 non-null   float64
 13  E_BOOK       9804 non-null   object
 14  LOAN_COUNT   9804 non-null   float64
dtypes: float64(7), int64(1), object(7)
memory usage: 1.1+ MB

In [32]:
df

,TITLE,AUTHOR,PUBLER,CLASS_NO,PUBLER_YEAR,LANG,PAGE,ISBN,kyobo_best,aladin_best,yes24_best,yp_best,best_count,E_BOOK,LOAN_COUNT
0,섶다리 : 변종호 수필집,변종호 지음,수필과비평사,한국문학,2012,kor,205.0,9788997700721,0.0,0.0,0.0,0.0,0.0,N,36.0
1,힐링여행,나동광 지음,경성대학교 출판부,한국문학,2014,kor,114.0,9788973142644,0.0,0.0,0.0,0.0,0.0,N,2.0
2,나루터 마을 :김용재 청소년소설,김용재 지음,세계문예,한국문학,2010,kor,211.0,9788988695913,0.0,0.0,0.0,0.0,0.0,Y,722.0
3,길고 먼 무지개 :한택수 시집,한택수 [지음],나남,한국문학,2018,kor,114.0,9788930010917,0.0,0.0,0.0,0.0,0.0,N,17.0
4,손님 :큰글자도서 : 황석영 장편소설 [큰글자도서] .2,황석영 지음,창비,한국문학,2018,kor,124.0,9788936474614,0.0,0.0,0.0,0.0,0.0,N,1831.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9799,(지역문화를 살리는) 박물관 경영 마케팅 길잡이,허북구 지음,중앙경제평론사(Joongang Economy),"일반 학회, 단체, 협회, 기관, 연구기관",2017,kor,271.0,9788960541894,0.0,0.0,0.0,0.0,0.0,N,105.0
9800,Egypt :The Book of Chaos,by Nick Drake,HarperCollins Publishers,아프리카,2012,eng,335.0,9780060765958,0.0,0.0,0.0,0.0,0.0,N,0.0
9801,일제강점기 보천교의 신국가 건설운동,안후상 지음,민속원,기타 제종교,2023,kor,415.0,9788928517909,0.0,0.0,0.0,0.0,0.0,N,2.0
9802,(프리마) 독일어독해 =Deutsch,김원익 저,메티스: 고시연구사,독일어,2008,kor,387.0,9791155440483,0.0,0.0,0.0,0.0,0.0,N,132.0
9803,Al-Andalus rediscovered : Iberia's new Muslims,Marvine Howe,Columbia University Press,이슬람교(회교),2012,eng,289.0,9780231702744,0.0,0.0,0.0,0.0,0.0,N,0.0

In [39]:
import re
import pandas as pd

normalized = []

for name in df['AUTHOR']:
    # 문자열이 아닌 경우 (예: NaN, float 등) 처리
    if not isinstance(name, str):
        normalized.append('')
        continue

    # 1. 대괄호 앞 제거
    name = name.split('[')[0].strip()

    # 2. "지은이: " 형태면 콜론 뒤 이름만 남기기
    if '지은이:' in name:
        name = name.split('지은이:')[-1].strip()
    
    # 3. "풀어씀", "씀", "쓰고" 등이 포함되면 그 앞까지만 남기기
    for marker in ['풀어씀', '씀', '쓰고']:
        if marker in name:
            name = name.split(marker)[0].strip()
    
    # 4. 역할 키워드 나오기 전까지 자르기
    pattern = r"(글|그림|지음|원저|저|엮음|노랫말)"
    name = re.split(pattern, name)[0].strip()
    
    normalized.append(name)

df['AUTHOR'] = normalized

df.loc[df['AUTHOR'].str.contains('원작', na=False), 'AUTHOR'] = df['AUTHOR'].str.extract(r'^(.*?)\s*원작')

In [ ]:
normalized

In [ ]:
df.info()

In [44]:
df[df['AUTHOR'] == '']

,TITLE,AUTHOR,PUBLER,CLASS_NO,PUBLER_YEAR,LANG,PAGE,ISBN,kyobo_best,aladin_best,yes24_best,yp_best,best_count,E_BOOK,LOAN_COUNT
10,문학풍류 .제2집 제2호(가을·겨울호),,작가마을,한국문학,2015,kor,184.0,9791156060444,0.0,0.0,0.0,0.0,0.0,N,6.0
44,율곡 이이 시선,,평민사,한국문학,2020,kor,144.0,9788971157237,0.0,0.0,0.0,0.0,0.0,N,36.0
97,(원본) 노천명 시집 : 『산호림』·『사슴의 노래』·『창변』,,깊은샘,한국문학,2013,kor,381.0,9788974162337,0.0,0.0,0.0,0.0,0.0,N,84.0
275,그 노인네 아직도 살아 있나,,라라의숲,한국문학,2021,kor,228.0,9791196687489,0.0,0.0,0.0,0.0,0.0,N,14.0
306,갓바위 부처님을 등에 업고 :이상호 자서전,,북랜드,한국문학,2014,kor,317.0,9788977875975,0.0,0.0,0.0,0.0,0.0,N,58.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9700,Why? Encyclopedia,,DK (Dorling Kindersley),백과사전,2019,eng,160.0,9781409352075,0.0,0.0,0.0,0.0,0.0,N,9.0
9725,Fake News :separating truth from fiction,,Lerner Publishing Group,"신문, 언론, 저널리즘",2019,eng,112.0,9781541528147,0.0,0.0,0.0,0.0,0.0,N,1.0
9735,Public sector reform in ASEAN member countries...,,Daeyoung Moonhwasa,행정학,2011,eng,447.0,9788976443861,0.0,0.0,0.0,0.0,0.0,N,1.0
9764,At war with ourselves :my tour of duty in the ...,,Harper Perennial: HarperCollins Publishers,북아메리카,2024,eng,357.0,9780062899507,0.0,0.0,0.0,0.0,0.0,N,0.0
9765,Cuba :an American history,,Scribner Book Company,북아메리카,2022,eng,560.0,9781501154560,0.0,0.0,0.0,0.0,0.0,N,2.0

용혜원 시
임서정 外
이수웅 역주
김인해 외 2인
연세논술국어학원 어린이 9명
좌백 장편무협소설
임화문학연구회 편

In [55]:
import re

normalized = []

for name in df['AUTHOR']:
    # 0. 비문자열 처리
    if not isinstance(name, str):
        normalized.append('')
        continue

    # 1. by로 시작하면 by 뒤만 남김
    name = name.strip()
    if name.lower().startswith("by "):
        name = name[3:].strip()

    # 2. 역할 키워드 앞까지 자르기
    name = re.split(r"(시|역주|편|장편무협소설)", name)[0].strip()

    # 3. 외/外 정보 제거
    name = re.split(r"(외\s*\d*인|外)", name)[0].strip()

    # 4. 숫자 + '명' 제거
    name = re.split(r"\d+명", name)[0].strip()

    normalized.append(name)

df['AUTHOR'] = normalized

In [57]:
df[df['AUTHOR'] == '']

,TITLE,AUTHOR,PUBLER,CLASS_NO,PUBLER_YEAR,LANG,PAGE,ISBN,kyobo_best,aladin_best,yes24_best,yp_best,best_count,E_BOOK,LOAN_COUNT
10,문학풍류 .제2집 제2호(가을·겨울호),,작가마을,한국문학,2015,kor,184.0,9791156060444,0.0,0.0,0.0,0.0,0.0,N,6.0
44,율곡 이이 시선,,평민사,한국문학,2020,kor,144.0,9788971157237,0.0,0.0,0.0,0.0,0.0,N,36.0
97,(원본) 노천명 시집 : 『산호림』·『사슴의 노래』·『창변』,,깊은샘,한국문학,2013,kor,381.0,9788974162337,0.0,0.0,0.0,0.0,0.0,N,84.0
275,그 노인네 아직도 살아 있나,,라라의숲,한국문학,2021,kor,228.0,9791196687489,0.0,0.0,0.0,0.0,0.0,N,14.0
306,갓바위 부처님을 등에 업고 :이상호 자서전,,북랜드,한국문학,2014,kor,317.0,9788977875975,0.0,0.0,0.0,0.0,0.0,N,58.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9700,Why? Encyclopedia,,DK (Dorling Kindersley),백과사전,2019,eng,160.0,9781409352075,0.0,0.0,0.0,0.0,0.0,N,9.0
9725,Fake News :separating truth from fiction,,Lerner Publishing Group,"신문, 언론, 저널리즘",2019,eng,112.0,9781541528147,0.0,0.0,0.0,0.0,0.0,N,1.0
9735,Public sector reform in ASEAN member countries...,,Daeyoung Moonhwasa,행정학,2011,eng,447.0,9788976443861,0.0,0.0,0.0,0.0,0.0,N,1.0
9764,At war with ourselves :my tour of duty in the ...,,Harper Perennial: HarperCollins Publishers,북아메리카,2024,eng,357.0,9780062899507,0.0,0.0,0.0,0.0,0.0,N,0.0
9765,Cuba :an American history,,Scribner Book Company,북아메리카,2022,eng,560.0,9781501154560,0.0,0.0,0.0,0.0,0.0,N,2.0

In [58]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup
import time
import pandas as pd

# ChromeOptions 설정
options = webdriver.ChromeOptions()
# options.add_argument('--headless')  # 크롬창 숨기기 (필요시 주석 해제)
options.add_argument('--start-maximized')  # 크롬창 최대화
options.add_experimental_option('detach', True)  # 코드 종료 후 창 유지
options.add_argument("--disable-blink-features=AutomationControlled")  # 탐지 우회

# 드라이버 실행
driver = webdriver.Chrome(options=options)
for i in df[df['AUTHOR'] == '']['ISBN'] :
    driver.get(f'https://search.kyobobook.co.kr/search?keyword={i}&gbCode=TOT&target=total')
    html = driver.page_source
    soup = BeautifulSoup(html, 'html.parser')
    aut = soup.find('a', 'author rep').text
    df.loc[df['ISBN'] == i, 'AUTHOR'] = aut

AttributeError: 'NoneType' object has no attribute 'text'

In [59]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup
import time
import pandas as pd

# ChromeOptions 설정
options = webdriver.ChromeOptions()
# options.add_argument('--headless')  # 크롬창 숨기기
options.add_argument('--start-maximized')
options.add_experimental_option('detach', True)
options.add_argument("--disable-blink-features=AutomationControlled")

# 드라이버 실행
driver = webdriver.Chrome(options=options)

# AUTHOR가 비어있는 경우만 검색
for i in df[df['AUTHOR'] == '']['ISBN']:
    driver.get(f'https://search.kyobobook.co.kr/search?keyword={i}&gbCode=TOT&target=total')
    time.sleep(2)  # 페이지 로딩 대기 (필요에 따라 조절)

    html = driver.page_source
    soup = BeautifulSoup(html, 'html.parser')

    # 저자 정보 가져오기
    author_tag = soup.find('a', class_='author rep')  # class는 class_로 지정해야 함
    if author_tag:
        author = author_tag.text.strip()
    else:
        author = "Unknown"

    # 결과 저장
    df.loc[df['ISBN'] == i, 'AUTHOR'] = author

In [60]:
df[df['AUTHOR'] == '']

Empty DataFrame
Columns: [TITLE, AUTHOR, PUBLER, CLASS_NO, PUBLER_YEAR, LANG, PAGE, ISBN, kyobo_best, aladin_best, yes24_best, yp_best, best_count, E_BOOK, LOAN_COUNT]
Index: []

In [63]:
df['AUTHOR'].value_counts()

AUTHOR
Unknown    102
이           16
요           11
고정욱          8
사이토 다카       8
          ...
구희곤          1
이용수          1
전주역사박물관      1
이수빈 編輯       1
이장욱          1
Name: count, Length: 8537, dtype: int64

In [67]:
df[df['AUTHOR'] == '이']

,TITLE,AUTHOR,PUBLER,CLASS_NO,PUBLER_YEAR,LANG,PAGE,ISBN,kyobo_best,aladin_best,yes24_best,yp_best,best_count,E_BOOK,LOAN_COUNT
1068,검은 머리 외국인 :이시백 장편소설,이,레디앙,한국문학,2015,kor,255.0,9791195318926,0.0,0.0,0.0,0.0,0.0,N,1419.0
3046,공부하는 독종이 살아남는다,이,중앙books,경제학,2011,kor,262.0,9788961888110,0.0,0.0,0.0,0.0,0.0,N,42557.0
3953,(10대라면 반드시 알아야 할) 논리적 글쓰기를 위한 인문고전 100 :수능 세대의...,이,팬덤북스,문학,2024,kor,611.0,9791161692920,0.0,0.0,0.0,0.0,0.0,Y,295.0
4098,외롭지 않다는 거짓말,이,홍익출판사,심리학,2020,kor,215.0,9788970657974,0.0,0.0,0.0,0.0,0.0,N,796.0
4255,내 마음 먼저 챙기고 싶을 때 읽는 책,이,예문아카이브,심리학,2018,kor,287.0,9791187749707,0.0,0.0,0.0,0.0,0.0,N,3061.0
4406,도망치고 싶을 때 읽는 책,이,홍익출판사,심리학,2018,kor,215.0,9788970656632,0.0,0.0,0.0,0.0,0.0,N,1986.0
5182,"엄마, 그렇게 키워선 안 됩니다 :아직도 아이 성적에 긍긍하는가? .[2]",이,풀잎,가정학 및 가정생활,2015,kor,247.0,9791185186108,0.0,0.0,0.0,0.0,0.0,N,3222.0
5269,일본인의 다이어트 체조법,이,어바웃어북,가정학 및 가정생활,2014,kor,215.0,9788997382255,0.0,0.0,0.0,0.0,0.0,N,1396.0
5411,신들의 마을,이,녹색평론사,일본문학,2015,kor,334.0,9788990274786,0.0,0.0,0.0,0.0,0.0,N,815.0
5576,날아라 로켓파크,이,양철북 : 양철북출판사,일본문학,2013,kor,376.0,9788963720784,0.0,0.0,0.0,0.0,0.0,N,1828.0
5777,자살 반대 클럽,이,황금가지,일본문학,2009,kor,318.0,9788960172340,0.0,0.0,0.0,0.0,0.0,N,1660.0
6273,하루 한 끼 공복의 힘,이,이아소,의학,2012,kor,266.0,9788992131650,0.0,0.0,0.0,0.0,0.0,N,12426.0
6340,편식의 기술,이,매일경제신문사,의학,2013,kor,276.0,9791155420355,0.0,0.0,0.0,0.0,0.0,N,779.0
6577,오늘은 고양이처럼 살아봅시다 :고양이에게 배우는 59가지 행복의 기술,이,조선뉴스프레스: 조선앤북,"윤리학, 도덕철학",2018,kor,285.0,9791155784679,0.0,0.0,0.0,0.0,0.0,N,1072.0
7145,천 개의 심장 :오늘을 마지막으로 사는 최전방 선교사의 순종일기,이,규장,기독교,2014,kor,255.0,9788960973237,0.0,0.0,0.0,0.0,0.0,Y,1601.0
7997,시원스쿨 말하기 Basic 영문법,이,시원스쿨닷컴,영어,2012,kor,383.0,9788996786665,0.0,0.0,0.0,0.0,0.0,Y,11125.0

In [68]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup
import time
import pandas as pd
import numpy as np

# ChromeOptions 설정
options = webdriver.ChromeOptions()
# options.add_argument('--headless')  # 필요 시 크롬 창 숨기기
options.add_argument('--start-maximized')
options.add_experimental_option('detach', True)
options.add_argument("--disable-blink-features=AutomationControlled")

# 드라이버 실행
driver = webdriver.Chrome(options=options)

# 크롤링 시작
for isbn in df[df['AUTHOR'] == '이']['ISBN']:
    try:
        # 검색 페이지 접속
        driver.get(f'https://search.kyobobook.co.kr/search?keyword={isbn}&gbCode=TOT&target=total')
        time.sleep(1.5)  # 페이지 로딩 대기

        # 페이지 소스 가져오기
        html = driver.page_source
        soup = BeautifulSoup(html, 'html.parser')

        # 저자 정보 찾기
        author_tag = soup.find('a', class_='author rep')

        if author_tag:
            author = author_tag.text.strip()
            df.loc[df['ISBN'] == isbn, 'AUTHOR'] = author
            print(f'✔ {isbn} → {author}')
        else:
            # 결과 없음 (기존 값 유지)
            print(f'✖ {isbn} → 저자 없음')

    except Exception as e:
        print(f'⚠️ 오류 발생: {isbn} → {e}')
        continue

✔ 9791195318926 → 이시백
✔ 9788961888110 → 이시형
✔ 9791161692920 → 이시연
✔ 9788970657974 → 이시하라 가즈코
✔ 9791187749707 → 이시노 미도리
✔ 9788970656632 → 이시하라 가즈코
✔ 9791185186108 → 이시형
✔ 9788997382255 → 이시이 나오카타
✔ 9788990274786 → 이시무레 미치코
✔ 9788963720784 → 이시다 이라
✔ 9788960172340 → 이시다 이라
✔ 9788992131650 → 이시하라 유미
✔ 9791155420355 → 이시하라 유우미
✔ 9791155784679 → 이시쿠로 유키코
✔ 9788960973237 → 이시온
✔ 9788996786665 → 이시원

In [69]:
df[df['AUTHOR'] == '이']

Empty DataFrame
Columns: [TITLE, AUTHOR, PUBLER, CLASS_NO, PUBLER_YEAR, LANG, PAGE, ISBN, kyobo_best, aladin_best, yes24_best, yp_best, best_count, E_BOOK, LOAN_COUNT]
Index: []

In [70]:
df[df['AUTHOR'] == '요']

,TITLE,AUTHOR,PUBLER,CLASS_NO,PUBLER_YEAR,LANG,PAGE,ISBN,kyobo_best,aladin_best,yes24_best,yp_best,best_count,E_BOOK,LOAN_COUNT
2121,(조직을 성공으로 이끄는) 리더십 & 팔로워십,요,멘토르,경제학,2010,kor,233.0,9788963050676,0.0,0.0,0.0,0.0,0.0,N,366.0
2481,(생각정리) 프레임워크 50 =Framework handbook,요,스펙트럼북스,경제학,2012,kor,245.0,9788997227365,0.0,0.0,0.0,0.0,0.0,Y,2534.0
2914,제로창업 :당신의 경험과 지식을 돈으로 바꾸는 노하우 =ZERO FLOTATION,요,이노다임북스,경제학,2015,kor,240.0,9791195363308,0.0,0.0,0.0,0.0,0.0,N,4067.0
3775,내가 입만 열면 왜 어색해질까? :대화하는 게 두렵기만 한 사람들을 위한 친절한 안내서,요,지식여행,문학,2016,kor,295.0,9788961094863,0.0,0.0,0.0,0.0,0.0,N,1836.0
5318,일본 가정식 도시락 :사계절의 맛을 담다,요,한국물가정보,가정학 및 가정생활,2016,kor,399.0,9788962609714,0.0,0.0,0.0,0.0,0.0,N,3392.0
5426,(우리 함께) 호오포노포노,요,판미동,일본문학,2021,kor,264.0,9791158887339,0.0,0.0,0.0,0.0,0.0,Y,3324.0
5428,도토리 자매,요,민음사,일본문학,2014,kor,134.0,9788937489006,0.0,0.0,0.0,0.0,0.0,Y,16966.0
5638,암리타 :요시모토 바나나 장편소설,요,민음사,일본문학,2011,kor,501.0,9788937403651,0.0,0.0,0.0,0.0,0.0,Y,19063.0
5670,그녀에 대하여,요,민음사,일본문학,2010,kor,202.0,9788937483141,0.0,0.0,0.0,0.0,0.0,Y,18896.0
5729,도마뱀,요,민음사,일본문학,2011,kor,179.0,9788937403187,0.0,0.0,0.0,0.0,0.0,Y,15556.0
9259,"삼국지 :요시카와 에이지 대표 역사소설! .10 ,오장원(五丈原)편",요,매경출판,중국문학,2013,kor,429.0,9788974428877,0.0,0.0,0.0,0.0,0.0,N,606.0

In [71]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup
import time
import pandas as pd
import numpy as np

# ChromeOptions 설정
options = webdriver.ChromeOptions()
# options.add_argument('--headless')  # 필요 시 크롬 창 숨기기
options.add_argument('--start-maximized')
options.add_experimental_option('detach', True)
options.add_argument("--disable-blink-features=AutomationControlled")

# 드라이버 실행
driver = webdriver.Chrome(options=options)

# 크롤링 시작
for isbn in df[df['AUTHOR'] == '요']['ISBN']:
    try:
        # 검색 페이지 접속
        driver.get(f'https://search.kyobobook.co.kr/search?keyword={isbn}&gbCode=TOT&target=total')
        time.sleep(1.5)  # 페이지 로딩 대기

        # 페이지 소스 가져오기
        html = driver.page_source
        soup = BeautifulSoup(html, 'html.parser')

        # 저자 정보 찾기
        author_tag = soup.find('a', class_='author rep')

        if author_tag:
            author = author_tag.text.strip()
            df.loc[df['ISBN'] == isbn, 'AUTHOR'] = author
            print(f'✔ {isbn} → {author}')
        else:
            # 결과 없음 (기존 값 유지)
            print(f'✖ {isbn} → 저자 없음')

    except Exception as e:
        print(f'⚠️ 오류 발생: {isbn} → {e}')
        continue

✔ 9788963050676 → 요시다 덴세
✔ 9788997227365 → 요시자와 준토쿠
✔ 9791195363308 → 요시에 마사루
✔ 9788961094863 → 요시다 히사노리
✔ 9788962609714 → 요시이 시노부
✔ 9791158887339 → 요시모토 바나나
✔ 9788937489006 → 요시모토 바나나
✔ 9788937403651 → 요시모토 바나나
✔ 9788937483141 → 요시모토 바나나
✔ 9788937403187 → 요시모토 바나나
✔ 9788974428877 → 요시카와 에이지

In [72]:
df['AUTHOR'].value_counts()

AUTHOR
Unknown     102
히가            8
사이토 다카        8
고정욱           8
쌈지            7
           ...
생각공장 제작       1
김광수           1
나카지마 히토미      1
노종상           1
강민            1
Name: count, Length: 8555, dtype: int64

In [74]:
df.to_csv('비베스트셀러_랜덤1차.csv', index=False)

In [79]:
df1 = pd.read_csv('비베스트셀러_랜덤.csv')
df = pd.read_csv('비베스트셀러_랜덤1차.csv')

In [89]:
unknown_authors = df[df['AUTHOR'] == 'Unknown']
unknown_authors

Empty DataFrame
Columns: [TITLE, AUTHOR, PUBLER, CLASS_NO, PUBLER_YEAR, LANG, PAGE, ISBN, kyobo_best, aladin_best, yes24_best, yp_best, best_count, E_BOOK, LOAN_COUNT]
Index: []

In [82]:
# df1에서 ISBN → AUTHOR 매핑 딕셔너리 만들기
author_map = df1.set_index('ISBN')['AUTHOR'].to_dict()

# df에서 AUTHOR가 'Unknown'인 경우에만 AUTHOR를 업데이트
df['AUTHOR'] = df.apply(
    lambda row: author_map.get(row['ISBN'], row['AUTHOR']) if row['AUTHOR'] == 'Unknown' else row['AUTHOR'],
    axis=1
)

In [92]:
df[df['AUTHOR'].str.contains('by')]

,TITLE,AUTHOR,PUBLER,CLASS_NO,PUBLER_YEAR,LANG,PAGE,ISBN,kyobo_best,aladin_best,yes24_best,yp_best,best_count,E_BOOK,LOAN_COUNT
554,Восьмая комната,[by] Ким Миволь,Литературная Учеба,한국문학,2018,rus,239.0,9785889151173,0.0,0.0,0.0,0.0,0.0,N,0.0
685,Барын өгсөн баадан,written by Seo Jeong-oh,한림출판사,한국문학,2014,mon,1.0,9781565914407,0.0,0.0,0.0,0.0,0.0,N,16.0
766,Vương Quốc Nghìn Năm,[by] Kim Kyung-uk,Nhà xuất bản Văn hóa - Văn nghệ,한국문학,2020,vie,399.0,9786046864721,0.0,0.0,0.0,0.0,0.0,N,0.0
1228,(El) amor fraternal,translated by Hyunjo Koh,Newstoday,한국문학,2012,spa,22.0,9788993031270,0.0,0.0,0.0,0.0,0.0,N,6.0
1265,Cuentos coreanos del siglo XX,ed. by Kim Un Kyung,Editorial Verbum,한국문학,2004,spa,229.0,9788479622855,0.0,0.0,0.0,0.0,0.0,N,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9627,(The) plant kingdoms of Charles Jones,[by] Sean Sexton,Thames & Hudson,사진예술,2016,eng,128.0,9780500544631,0.0,0.0,0.0,0.0,0.0,N,0.0
9628,Women photograph :what we see : women & nonbin...,curated by Daniella Zalcman,White Lion Publishing: The Quarto Group,사진예술,2023,eng,224.0,9780711278547,0.0,0.0,0.0,0.0,0.0,N,0.0
9725,Fake News :separating truth from fiction,[by] Michael Miller,Lerner Publishing Group,"신문, 언론, 저널리즘",2019,eng,112.0,9781541528147,0.0,0.0,0.0,0.0,0.0,N,1.0
9766,Voices from the Rust Belt,edited by Anne Trubek,Picador,북아메리카,2018,eng,245.0,9781250162977,0.0,0.0,0.0,0.0,0.0,N,0.0
9768,"Bill O'Reilly's legends & lies .[2] ,The Civil...",written by David Fisher,Henry Holt,북아메리카,2017,eng,361.0,9781250109842,0.0,0.0,0.0,0.0,0.0,N,0.0

In [93]:
import re

def clean_by_author(author):
    if not isinstance(author, str):
        return author  # 비문자열은 그대로 반환

    # 'by' 또는 '[by]'로 시작하거나 포함되어 있을 경우
    match = re.search(r'\[?by\]?\s*(.*)', author, re.IGNORECASE)
    if match:
        return match.group(1).strip()  # 'by' 뒤의 내용만 반환
    return author.strip()  # 없으면 원래 값

# 적용
df['AUTHOR'] = df['AUTHOR'].apply(clean_by_author)

[공자 지음]
엮은이: 조규익	
박지현 외 지은이
글: 김숙영

In [106]:
df['AUTHOR'][130:160]

130             박희익
131             심상무
132             정현우
133             정목일
134             김민철
135             임나라
136               김
137             복일경
138             나태주
139             김상미
140             김혜나
141             박경리
142             이현주
143             박정대
144             송남규
145             김은지
146             안용태
147             노광훈
148             백민석
149             남세오
150              高銀
151             고재현
152             이해인
153    연세논술국어학원 어린이
154             임지형
155             권진희
156             이석례
157             이육사
158             이창수
159             이인성
Name: AUTHOR, dtype: object

In [107]:
import re

def clean_author(author):
    if not isinstance(author, str):
        return author  # 비문자열은 그대로

    name = author.strip()

    # 1. [공자 지음] → 괄호 제거
    name = re.sub(r'[\[\]]', '', name)

    # 2. "by" 또는 "[by]" → by 뒤 이름만
    match_by = re.search(r'\[?by\]?\s*(.*)', name, re.IGNORECASE)
    if match_by:
        return match_by.group(1).strip()

    # 3. "역할: 이름" → ":" 뒤 이름만
    if ':' in name:
        name = name.split(':', 1)[-1].strip()

    # 4. "외", "외 2인", "外", "9명" 등 제거
    name = re.split(r'(외\s*\d*인|외|外|\d+명)', name)[0].strip()

    # 5. 역할 키워드 제거 (지음, 엮은이, 글, 저, 지은이 등)
    role_pattern = r"(지음|엮은이|글|저|지은이)"
    name = re.split(role_pattern, name)[0].strip()

    return name

# 적용
df['AUTHOR'] = df['AUTHOR'].apply(clean_author)

In [108]:
import re
normalize_rules = {
    r'miraen|아이세움': '미래엔',
    r'오렌지미디어': '오렌지미디어',
    r'뜨인돌': '뜨인돌',
    r'인티.?앤': '인티앤',
    r'rhk|알에이치코리아': '알에이치코리아',
    r'한경bp|한국경제신문': '한국경제신문',
    r'휴먼큐브|아이휴먼': '휴먼큐브',
    r'카시오페아': '카시오페아',
    r'포레스트북스|콘텐츠그룹 포레스트|리프': '포레스트북스',
    r'청어람미디어|나무의말': '청어람미디어',
    r'필름|feelm|cloudia|클라우디아': '필름',
    r'블루홀식스|블루홀6': '블루홀식스',
    r'길벗|더 퀘스트': '길벗',
    r'웅진씽크빅|리더스북|갤리온|웅진지식하우스|웅진주니어': '웅진씽크빅',
    r'21세기북스|북이십일': '북이십일',
    r'웨일북|whale books': '웨일북',
    r'사계절': '사계절'
}

# 정규화 함수 정의
def normalize_publisher(publisher):
    if pd.isna(publisher):
        return publisher
    publisher_lower = publisher.lower()  # 대소문자 무시
    for pattern, replacement in normalize_rules.items():
        if re.search(pattern, publisher_lower):
            return replacement
    return publisher  # 규칙에 없으면 원본 유지

# 정규화된 컬럼 추가
df['PUBLER'] = df['PUBLER'].apply(normalize_publisher)

df['PUBLER'] = df['PUBLER'].str.replace(r'[:\(\[\{].*$', '', regex=True).str.strip()

In [111]:
df['PUBLER'][30:60]

30           한림문학재단
31              오르페
32               퍼플
33             허밍버드
34              나라말
35             바이북스
36           문학아카데미
37               필름
38             꿈과희망
39    Human & Books
40             우드스톡
41             문예바다
42             황금가지
43            행복에너지
44              평민사
45              평민사
46             문학나무
47               들뫼
48             우리학교
49             작가정신
50             글로세움
51             서정시학
52            바다출판사
53               창비
54              엔트리
55             서정시학
56             정은출판
57            물고기북스
58             문학동네
59                놀
Name: PUBLER, dtype: object

In [112]:
df.to_csv('비베스트셀러_랜덤최종.csv', index=False)

# 베스트셀러 파일
- 베스트셀러파일들 맵핑을 통해 데이터 합침
- 대출건수 누락값은 0으로 처리
- 저자 열 정규화 진행해서 이름만 남김
- 저자열 누락값 발견 -> 크롤링 진행 완
- 출판사 열 패턴 파악
- ()가 있거나 : 가 있거나 []이놈도 있음 -> 그냥 앞에꺼 남기고 싹다 지움

# 비베스트셀러 
- 대출 건수 누락값 0으로 채움
- 비베스트셀러파일들 맵핑으로 데이터 합침
- 저자열 정제하는 과정 중 '' 인 행 500개 발견, 크롤링 다로 진행해야 할듯함
- 베스트셀러와 똑같이 저자열 정제 + 추가 정제 진행
- 출판사열도 똑같이 정제 진행